// Color Variables

$primary-color: #777;
$headline-color: #58e1c1;
$secondary-color: #51ddfc;
$white: #fff;


//Button Colors

$btn-error: #e4757a;
$btn-info: #927bc1;
$btn-succ: #63cc82;
$btn-warn: #fd7856;


// Media Queries Breakpoints

$break-l: 768px;
$break-xl: 1400px;